@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body,
html {
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../image/img1.jpeg") no-repeat center;
  background-size: cover;
  height: 100vh;
  padding: 0px 60px;
}
.header .header-content {
  padding: 25px;
}
.header .header-content h1 {
  font-size: 3.8rem;
  font-weight: 200;
  text-align: end;
  color: rgb(220, 220, 220);
}
.header .header-content .line {
  margin: 40px 0px;
  height: 3px;
  width: 100%;
  background-color: rgb(165, 165, 165);
  position: relative;
}
.header .header-content .line::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: -10px;
  right: 0;
  height: 25px;
  width: 170px;
  background-color: #fff;
}
.header .header-content .header-text {
  font-size: 1.3rem;
  text-align: end;
  color: #ccc;
  font-weight: 100;
}
.icon {
  padding: 25px;
}
.icon-content {
  display: flex;
  justify-content: space-between;
}
.icon-content div {
  height: 195px;
  width: 200px;
  margin: 10px;
  border: 2px solid rgb(132, 132, 132);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.icon-content div i {
  font-size: 5rem;
  color: #fff;
  padding-top: 60px;
}
.icon-content div p {
  font-size: 1.05rem;
  color: #ccc;
  padding-bottom: 20px;
}

.container1 {
  background-color: #313334;
  padding: 30px 60px;
}
.container1 > h1 {
  color: rgb(188, 188, 188);
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}
.container1 .child-Container {
  display: flex;
}
.child-Container .content1 {
  padding: 0px 20px 0px 0px;
}
.child-Container .content1 img {
  height: 300px;
  width: 100%;
}
.child-Container .content2 img {
  height: 300px;
  width: 100%;
  border-radius: 5px;
}
.child-Container .content1 p {
  color: rgb(165, 165, 165);
  padding-bottom: 20px;
  font-size: 1rem;
}
.child-Container .content2 {
  padding: 0px 0px 0px 20px;
}
.child-Container .content2 p {
  color: rgb(165, 165, 165);
  padding-bottom: 10px;
}
.container2 {
  background-color: #313334;
  padding: 30px 60px;
}
.container2 h1 {
  color: rgb(188, 188, 188);
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}
.container2 .child-Container2 {
  display: flex;
}
.child-Container2 .text {
  width: 70%;
  padding-right: 15px;
}
.child-Container2 .text p {
  color: rgb(165, 165, 165);
  font-size: 1rem;
  padding-bottom: 20px;
}
.child-Container2 .text button {
  padding: 8px 20px;
  color: rgb(188, 188, 188);
  background-color: #4f5051;
  border: none;
  border-radius: 5px;
  margin-top: 18px;
}
.child-Container2 .text button:hover {
  background-color: #000;
  color: #fff;
}
.child-Container2 .img {
  width: 30%;
  padding-left: 15px;
}
.child-Container2 .img img {
  width: 100%;
}
.container3 {
  background-color: #313334;
  padding: 30px 60px;
}
.container3 h1 {
  color: rgb(188, 188, 188);
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}
.container3 p {
  color: rgb(165, 165, 165);
  padding-bottom: 20px;
  font-size: 1.1rem;
}
.group-img {
  display: flex;
  justify-content: space-between;
}
.group-img img {
  height: 165px;
  transition: 0.5s;
}
.group-img img:hover {
  transform: scale(1.1);
}
.container4 {
  background-color: #313334;
  padding: 60px;
}
.container4 h1 {
  color: rgb(188, 188, 188);
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}
.container4 p {
  color: rgb(165, 165, 165);
  padding-bottom: 20px;
  font-size: 1.1rem;
}
.container4 div {
  display: flex;
}
.container4 div input {
  width: 50%;
  padding: 10px;
  background-color: #4f5051;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
}
textarea {
  background-color: #4f5051;
  border: none;
  padding: 10px;
  border-radius: 6px;
  width: 98.5%;
  margin-bottom: 12px;
}
.container4 button {
  padding: 8px 18px;
  background-color: rgb(49, 49, 190);
  color: #fff;
  border-radius: 5px;
  border: none;
}
a {
  text-decoration: none;
}
